@page "/register"
@layout Auth

@inject CustomAuthenticationStateProvider AuthProvider
@inject IHttpClientFactory HttpFactory
@inject NavigationManager Navigation
@inject IJSRuntime JS


<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                @if (!string.IsNullOrEmpty(errorMessage))
                                {
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        @errorMessage
                                        <button type="button" class="btn-close"
                                                @onclick="() => errorMessage = string.Empty"></button>
                                    </div>
                                }

                                <EditForm Model="@registerModel" OnValidSubmit="@HandleRegister" class="mx-1 mx-md-4">
                                    <DataAnnotationsValidator />

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Your Name</label>
                                            <InputText @bind-Value="registerModel.Name" 
                                            type="text"
                                            id="form3Example1c" 
                                            class="form-control"
                                            placeholder="Name"/>
                                            <ValidationMessage For="@(() => registerModel.Name)" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Your UserName</label>
                                            <InputText @bind-Value="registerModel.UserName"
                                                       type="text"
                                                       id="form3Example1c"
                                                       class="form-control"
                                                       placeholder="UserName" />
                                            <ValidationMessage For="@(() => registerModel.UserName)" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <InputText @bind-Value="registerModel.Email"
                                                       type="email"
                                                       id="form3Example1c"
                                                       class="form-control"
                                                       placeholder="Email" />
                                            <ValidationMessage For="@(() => registerModel.Email)" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">Phone</label>
                                            <InputText @bind-Value="registerModel.Phone"
                                                       type="text"
                                                       id="form3Example1c"
                                                       class="form-control"
                                                       placeholder="Phone" />
                                            <ValidationMessage For="@(() => registerModel.Phone)" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <InputText @bind-Value="registerModel.Password"
                                                       type="text"
                                                       id="form3Example1c"
                                                       class="form-control"
                                                       placeholder="Password" />
                                            <ValidationMessage For="@(() => registerModel.Password)" />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <label class="form-label">Select Role</label>
                                            <InputSelect @bind-Value="registerModel.Role" class="form-select">
                                                <option value="">Open this select menu</option>
                                                <option value="Customer">Customer</option>
                                                <option value="Provider">Service Provider</option>
                                            </InputSelect>
                                            <ValidationMessage For="@(() => registerModel.Role)" />
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mb-3">
                                        <button type="button"
                                                class="btn btn-outline-secondary px-4"
                                                @onclick="GetLocationAsync">
                                            📍 Use Current Location
                                        </button>
                                    </div>


                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                </EditForm>
                                
                                <div class="text-center mt-3">
                                    <a href="/login">You already have an account login</a>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="js/location.js"></script>

@code {
    public RegisterModel registerModel { get; set; } = new();
    private string errorMessage = string.Empty;
    private bool isLoading = false;

    private async Task  HandleRegister()
    {
        try
        {
            isLoading = true;
            errorMessage = string.Empty;

            if(registerModel.Latitude == 0 || registerModel.Longitude == 0)
            {
                errorMessage = "Please allow location access or use the 'Use Current Location' button.";
                return;
            }

            var httpClient = HttpFactory.CreateClient("FIXIT.API");
            var response = await httpClient.PostAsJsonAsync("Auth/Register", registerModel);

            if(response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<AuthResult>();

                if (result?.IsAuthenticated == true)
                {
                    Navigation.NavigateTo($"/verification/{registerModel.Email}");
                }
                else
                {
                    errorMessage = result?.Message ?? "Failed to Register";
                }
            }
            else
            {
                var errorContent = await response.Content.ReadAsStringAsync();
                errorMessage = errorContent;
            }
        }
        catch (HttpRequestException ex)
        {
            errorMessage = "Failed to conecnt to server.";
        }
        catch (Exception ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    public class LocationDto
    {
        public double Latitude { get; set; } = 0;
        public double Longitude { get; set; } = 0;
    }

    public async Task GetLocationAsync()
    {
        var location = await JS.InvokeAsync<LocationDto>("getUserLocation");

        registerModel.Latitude = location.Latitude;
        registerModel.Longitude = location.Longitude;
    }
}
